body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

p {
	padding: 0px;
	margin: 0px;
}

#wrap {
	background-color: Black;
	width: 1000px;
	height: 1000px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

