@charset "utf-8";

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

html, body, #root, .wrap {
	width: 100%;
	height: 100%;
}

.wrap .header_area {
	width: 100%;
	height: 10%;
	flex-direction: row;
}

.wrap .header_area .logo {
	width: 20%;
}

.wrap .header_area .search_bar {
	width: 60%;
}

.wrap .header_area .plus_contents {
	width: 20%
}

.wrap .contents_area {
	height: 90%;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
}

.wrap .contents_area a:hover {
	color: white;
}

.wrap .contents_area .contents_items {
	margin: 50px;
	background: lightblue;
	width: 300px;
	height: 350px;
}


.wrap .contents_area .contents_items .contents_article {
	height: 80%;
	width: 100%;
	background: lightskyblue;
}

.wrap .contents_area .contents_items .contents_bottom {
	height: 20%;
	width: 100%;
	background: lightblue;
	flex-direction: row;
	
}

.wrap .contents_area .contents_items .contents_bottom .contents_index {
	width: 30%;
}

.wrap .contents_area .contents_items .contents_bottom .contents_title {
	width: 70%;
}

