@charset "utf-8";

@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

html, body, #root, .wrap {
	width: 100%;
	height: 100%;
	font-family: 'SUIT-Medium';
}

.wrap .header_area {
	width: 100%;
	height: 10%;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
}

.wrap .header_area .logo {
	width: 20%;
	height: 100%;
	font-weight: bolder;
	font-family: "JSongMyung-Regular-KO";
	font-size: 2vw;
	line-height: 0.7;
}

.wrap .header_area .search_bar {
	width: 60%;
	height: 100%;
	font-size: 1.5em;
}

.wrap .header_area .search_bar input {
	width: 100%;
	background: none;
	border: none;
	border-bottom: 1px solid darkgray;
	font-size: 1.2vw;
	font-family: 'SUIT-Medium';
}

.wrap .header_area .search_bar input::placeholder {
	color: darkgray;
}

.wrap .header_area .search_bar input:focus {
	outline: none;
	border-bottom: 1px dashed darkgray;
}

.wrap .header_area .plus_contents {
	width: 20%;
	height: 100%;
}

.wrap .header_area .plus_contents button {
	background: #e3e3e3;
	border: none;
	font-family: 'SUIT-Medium';
	font-size: 1vw;
	padding: 5px 10px;
	border-radius: 3px;
	color: darkgray;
}

.wrap .header_area .plus_contents button:hover {
	color: black;
}

.wrap .contents_cnt {
	height: 10%;
	width: 100%;
	font-size: 1.2em;
	justify-content: end;
	color: darkgray;
}

.wrap .contents_filter_area {
	height: 10%;
	width: 100%;
	flex-direction: row;
}

.wrap .contents_filter_area .contents_filterCategory {
	margin: 0px 20px;
	font-size: 1.2em`;
}

.wrap .contents_area {
	height: 70%;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
}

.wrap .contents_area .clist .clist_alink{
	display:block;
	text-decoration: none;
	color: inherit;
}

.wrap .contents_area .contents_items {
	margin: 50px;
	width: 15em;
	height: 24.27em;
	outline: 2px dashed black;
	outline-offset: -2px;
}


.wrap .contents_area .contents_items .contents_article {
	height: 80%;
	width: 100%;
	position: relative;
	background: black;
}

.wrap .contents_area .contents_items .contents_article img {
	width: 80%;
	overflow: hidden;
}

.wrap .contents_area .contents_items .contents_article .contents_section {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.wrap .contents_area .contents_items .contents_article .contents_section p {
	font-size: 16px;
	color: white;
	margin: 0px 20px;
	letter-spacing: 0.3px;
	line-height: 20px;
}

.wrap .contents_area .clist .clist_alink:hover .contents_section {
	display:flex;
}



.wrap .contents_area .contents_items .contents_bottom {
	height: 20%;
	width: 100%;
	background: white;
	flex-direction: row;
	font-family: 'SUIT-Bold';

}

.wrap .contents_area .contents_items .contents_bottom .contents_upload {
	width: 30%;
	height: 100%;
	background: black;
	color: white;
}

.wrap .contents_area .contents_items .contents_bottom .contents_title {
	width: 70%;
	margin: 10px;
}

